{% extends "base.html" %}

{% block title %}
    Student Form
{% endblock %}

{% block content %}
    <div class="container">
        <form method="post">
            <img src="{{ url_for('static', filename='besant_technologies_logo.jpeg') }}" alt="Form Image" class="form-image">

            <!-- Text below the image -->
            <h2 class="form-title">Besant Attendance System</h2>

            <!-- Input fields -->
            <input type="text" name="name" placeholder="Enter your name" required>
            <input type="text" name="course" placeholder="Enter your course" required>

            <!-- Submit button -->
            <input type="submit" value="Submit">

            {% if message %}
                <p class="success-message">{{ message }}</p>
            {% elif error %}
                <p class="error-message">{{ error }}</p>
            {% endif %}
        </form>
    </div>
{% endblock %}
